/* Container and Section Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
}

.map-container {
    padding: 20px;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px; /* Adjust gap between cards as needed */
}

.card {
    /* Styles for each card */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card iframe {
    width: 100%;
    height: 130px;
    border: none;
}

.map-frame {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
}
/* Modal for Full Map View */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 51, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal iframe {
    width: 90%;
    height: 80vh;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
